# API URLs for the application
# Copy these lines into the Environment Variables section of your hosting provider (e.g., Render, Vercel)

NEXT_PUBLIC_API_URL_COMPRAS="https://modulocompras-production-843f.up.railway.app/api"
NEXT_PUBLIC_API_URL_AD="https://ad-xglt.onrender.com/api/v1"
NEXT_PUBLIC_API_URL_SEGURIDAD="https://aplicacion-de-seguridad-v2.onrender.com/api"
