# Este archivo es un ejemplo. En tu entorno de producción (Render),
# debes configurar estas variables en la sección "Environment".
# No es necesario crear un archivo .env.local en tu proyecto para el despliegue.

# URL base para el microservicio de Compras
NEXT_PUBLIC_API_URL_COMPRAS=https://modulocompras.onrender.com/api

# URL base para el microservicio de AD (posiblemente productos/inventario)
NEXT_PUBLIC_API_URL_AD=https://ad-xglt.onrender.com/api/v1

# URL base para el microservicio de Seguridad (login, auditoría)
NEXT_PUBLIC_API_URL_SEGURIDAD=https://aplicacion-de-seguridad-v2.onrender.com/api
