# API URLs for the application
# Copy these into your Render environment variables

NEXT_PUBLIC_API_URL_COMPRAS="https://modulocompras.onrender.com/api"
NEXT_PUBLIC_API_URL_AD="https://ad-xglt.onrender.com/api/v1"
NEXT_PUBLIC_API_URL_SEGURIDAD="https://aplicacion-de-seguridad-v2.onrender.com/api"
